.navbar{
    font-family: Roboto Slab;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}


body{

    max-width: 100%;
    overflow-x: hidden;
    height: 100%;

}

a:hover{
    font-weight: bold;
}

a:active{
    text-decoration: none;   
}

h1{
    font-family: Roboto Slab;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

h2{
    font-family: Roboto Slab;
    font-size: 1.8em;
    text-align: center;
}

h3{
    font-family: Roboto Slab;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}


#button{
    font-family: Roboto Slab;
    padding-right: 3.2em;
}

.button-size{
    font-family: Roboto Slab;
    width: 20em;
}

.form-control{
    width: 20em;
    margin: 0 auto;
}

#login{
    padding-top: 1em;
    padding-bottom: 1em;
}

#buttonLogin{
    text-align: center;
}

#errorMessage, p{
    color: red;
    font-weight: bold;
    text-align: center;

}

.formDiv{
    font-family: Roboto Slab;
    margin-top: 3em;
    border-color: #DDDDDD;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 5px;
}

.order-form{
    margin-bottom: 5em;
}


label{
    padding-top: 1em;
    text-align: right;
}

table{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #DDDDDD;
    font-family: Roboto Slab;
}

.table th{
    color: white;
    background-color: #337ab7;
}

.table td{
    width: 15em;
}

