.navbar{
    font-family: Roboto Slab;
    background: #337ab7; 
    border-radius: 0px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.nav>li>a {
    color: white;
}

.nav > li > a:hover {
    border-radius: 4px;
    background: #00427B;
    color: white;
}

.nav-tabs{
    border-bottom: 0px; 
    margin-top: .5em;
    margin-left: 5.5em;
    margin-bottom: .5em;
    
}

body{
    background: #E9EBEE;
    max-width: 100%;
    overflow-x: hidden;

}

a:hover{
    font-weight: bold;
}

a:active{
    text-decoration: none;   
}

h1{
    font-family: Roboto Slab;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

h2{
    font-family: Roboto Slab;
    font-size: 1.8em;
    text-align: center;
}

h3{
    font-family: Roboto Slab;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}


#button{
    font-family: Roboto Slab;
    padding-right: 3.2em;
}

.button-size{
    font-family: Roboto Slab;
    width: 20em;
}

.button-size:hover{
    color:white;
    background: #00427B;
}

.form-control{
    width: 20em;
    margin: 0 auto;
}

#login{
    padding-top: 1em;
    padding-bottom: 1em;
}

#buttonLogin{
    text-align: center;
    
}

#errorMessage, p{
    color: red;
    font-weight: bold;
    text-align: center;

}

.formDiv{
    margin-top: 3em;
    border-color: #DDDDDD;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 5px;
    text-align: right;
}

.order-form{
    margin-bottom: 5em;
}


label{
    padding-top: .5em;
    text-align: right;
}

table{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #DDDDDD;
}

.table th{
    color: white;
    background-color: #337ab7;
}

.table td{
    width: 15em;
}


.return-button{
    background: #00427B;
    margin-top:.25em; 
    margin-right: 2em;
}

.return-button:hover{
    background: white;
    margin-top:.25em; 
    margin-right: 2em;
}

.alert{
    border-radius: 0;
}

.modal-header{
    font-family: Roboto Slab;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #337ab7;
    color: white;
}

.error-message{
    font-weight: bold;
    color: red;
    margin-right: 3.5em;
}

.search{
    border-radius: 20px;
}